src/main/mule/demo_jenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="549bca8a-15c5-47f2-8dd9-2888d888f87f" >
		<http:listener-connection host="${http.listener.host}" port="${http.listener.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="89d9d0ac-cda4-4a11-ba49-c468c58a3903" file="${mule.env}.yaml" />
	<flow name="demo_jenkinsFlow" doc:id="ad63f9bf-56d9-4c1a-9987-371057d27e23" >
		<http:listener doc:name="Listener" doc:id="b6f20bb4-f74c-4543-8baf-cc799d0455a8" config-ref="HTTP_Listener_config" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="afda960d-fb4d-49a9-a9a5-80430ca84e54" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"success"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ffd0b838-501d-4f01-be01-6005db5e2216" message="#[payload]"/>
	</flow>
</mule>
